/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../Fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../Fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../Fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      font-family: "roboto" , Arial , sans-serif;
      overflow-x: hidden;
  }

  img {
    vertical-align: middle;
    object-fit: cover;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F3D7B7;
    background-blend-mode: overlay;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-logo {
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: auto ;
}

.header-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}
/* header-end */
/* hero */

.hero-section {
    position: relative;
    padding: 116px 0 249px 0;
    background-image: url("../images/hero-img.jpg"), url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 710px 696px, 100%;
    background-position: calc(50% + 405px) bottom, center center;
    background-blend-mode: normal, overlay;
    background-color: #F3D7B7;
}

.hero-section::before {
    width: 160px;
    height: 160px;
    position: absolute;
    top: -35px;
    left: calc(50% - 20px);
    background-image: url("../images/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}

.hero-title-inner {
    width: 464px;
    padding-bottom: 58px;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 24px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.hero-link {
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    background: #0A775F;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
}
/* end */

.our-section {
    position: relative;
    padding: 20px;
}

.our-section::before {
    position: absolute;
    top: 110px;
    left: calc(50% - 820px);
    width: 402px;
    height: 300px;
    background-image: url("../images/before.png");
    background-repeat: no-repeat;
    background-size: 402px 300px;
    content: "";
}

.our-section::after {
    position: absolute;
    top: 1263px;
    left: calc(50% - 875px);
    width: 392px;
    height: 477px;
    background-image: url("../images/after.png");
    background-repeat: no-repeat;
    background-size: 316px 296px;
    content: "";
}

.our {
    padding: 50px 0 50px 0;
    background-image: url("../images/our-bgr.png");
    background-repeat: no-repeat;
    background-color: #F8F8F2;
    background-blend-mode: overlay;
}

.our::before {
    position: absolute;
    top: 730px;
    left: calc(50% + 513px);
    width: 392px;
    height: 477px;
    background-image: url("../images/our-bg.png");
    background-repeat: no-repeat;
    background-size: 392px 477px;
    content: "";
}


/* position: absolute;
    top: 730px;
    left: calc(50% + 420px);
    width: 392px;
    height: 477px;
    background-image: url("../images/after.png");
    background-repeat: no-repeat;
    background-size: 392px 477px;
    content: ""; */

.our-top-title {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #000000;
}

.our-list {
    list-style-type: none;
}

.our-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-item:nth-child(even) {
    flex-direction: row-reverse;
}

.our-img {
    margin-right: 117px;
}

.our-content {
    width: 410px;
}

.our-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
}

.our-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}










