/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../Fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../Fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../Fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../Fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      font-family: "roboto" , Arial , sans-serif;
      background-image: url("../images/img.png") , url("../images/hero-img.jpg"), url("../images/background.png");
      background-repeat: no-repeat;
      background-size: 160px 160px, 710px 696px, 100%;
      background-position: calc(50% + 55px) ,  calc(50% + 413px), 100%;
      background-position-y: calc(6%) , calc(100px), 0;
  }

  img {
    vertical-align: middle;
    object-fit: cover;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    padding-top: 40px;
    padding-bottom: 45px;
}

.header-logo {
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: auto ;
}

.header-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}
/* header-end */
/* hero */



.hero-content {
    padding-top: 110px;
}

.hero-title-inner {
    width: 464px;
    padding-bottom: 58px;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 24px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.hero-link {
    margin-top: 10px;
    padding: 16px 24px;
    text-decoration: none;
    background: #0A775F;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
}











