.plan-it-section {
    margin: 20px;
    padding: 50px 0px 1px 0px;
    background-image: url("../images/it-bgr.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #0A775F;
}